<mat-toolbar color="primary">{{ movie?.name }}</mat-toolbar>
<div style="display: flex; flex-wrap: wrap; gap: 30px; padding: 20px;" *ngIf="movie">
    <img [appHoverShadow]="'10px 10px 5px 12px lightblue'" [src]="movie.image?.original" alt="Movie poster"
        style="max-width: 300px; border-radius: 20px;" />
    <div style="max-width: 600px;">
        <h2>{{ movie.name }}</h2>
        <p [innerHTML]="movie.summary"></p>
        <p><strong>Genres:</strong> {{ movie.genres }}</p>
        <p><strong>Status:</strong> {{ movie.status }}</p>
    </div>
</div>
