<div style="padding-left: 500px; margin-top: 20px;">
    <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Highlight Tasks by Assignee</mat-label>
        <input matInput #assigneeInput (input)="highlightByAssignee(assigneeInput.value)">
    </mat-form-field>
</div>

<button (click)="sortByTitle()">Sort By Title</button>

<div style="padding: 20px; border-radius: 50px;">
    <mat-tab-group style="border: 1px solid gray; border-radius: 20px;">
        <mat-tab label="All">
            <table mat-table [dataSource]="filterDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>
                      Title <br>
                      <input type="text" placeholder="search" (input)="onSearchTitle($event)">
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.title}}</td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description <br>
                      <input type="text" placeholder="search" (input)="onSearchDescription($event)">
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>
                <ng-container matColumnDef="assignedby">
                    <th mat-header-cell *matHeaderCellDef>Assigned By <br>
                    <input type="text" placeholder="search" (input)="onSearchAssignee($event)">
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.assignedby}}</td>
                </ng-container>
                <ng-container matColumnDef="duedate">
                    <th mat-header-cell *matHeaderCellDef>Due Date <br>
                    <input type="text" placeholder="search" (input)="onSearchDuedate($event)">
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.duedate | date: 'dd-MM-yyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status <br>
                    <input type="text" placeholder="search" (input)="onSearchStatus($event)">
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.status}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="primary" (click)="updatefunc(element)">
                            Edit
                        </button>
                        <button mat-button color="warn" (click)="deletefunc(element.id)">
                            Delete
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row;columns: displayColumns"
                    [ngClass]="{'highlight': assigneeFilter &&  row.assignedby.toLowerCase().includes(assigneeFilter.toLowerCase())}"
                    #taskRow></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[2,4,6,10]" showFirstLastButtons></mat-paginator>
        </mat-tab>
        <mat-tab label="Pending">
            <table mat-table [dataSource]="PendingDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">{{element.title}}</td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>
                <ng-container matColumnDef="assignedby">
                    <th mat-header-cell *matHeaderCellDef>Assigned By</th>
                    <td mat-cell *matCellDef="let element">{{element.assignedby}}</td>
                </ng-container>
                <ng-container matColumnDef="duedate">
                    <th mat-header-cell *matHeaderCellDef>Due Date</th>
                    <td mat-cell *matCellDef="let element">{{element.duedate | date: 'dd-MM-yyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{element.status}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="primary" (click)="updatefunc(element)">
                            Edit
                        </button>
                        <button mat-button color="warn" (click)="deletefunc(element.id)">
                            Delete
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row;columns: displayColumns"
                    [ngClass]="{'highlight': assigneeFilter &&  row.assignedby.toLowerCase().includes(assigneeFilter.toLowerCase())}"
                    #taskRow></tr>
            </table>
            <mat-paginator #ppaginator [pageSizeOptions]="[2,4,6,10]" showFirstLastButtons></mat-paginator>
        </mat-tab>
        <mat-tab label="In Progress">
            <table mat-table [dataSource]="InProgressDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">{{element.title}}</td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>
                <ng-container matColumnDef="assignedby">
                    <th mat-header-cell *matHeaderCellDef>Assigned By</th>
                    <td mat-cell *matCellDef="let element">{{element.assignedby}}</td>
                </ng-container>
                <ng-container matColumnDef="duedate">
                    <th mat-header-cell *matHeaderCellDef>Due Date</th>
                    <td mat-cell *matCellDef="let element">{{element.duedate | date: 'dd-MM-yyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{element.status}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="primary" (click)="updatefunc(element)">
                            Edit
                        </button>
                        <button mat-button color="warn" (click)="deletefunc(element.id)">
                            Delete
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row;columns: displayColumns"
                    [ngClass]="{'highlight': assigneeFilter &&  row.assignedby.toLowerCase().includes(assigneeFilter.toLowerCase())}"
                    #taskRow></tr>
            </table>
            <mat-paginator #ipaginator [pageSizeOptions]="[2,4,6,10]" showFirstLastButtons></mat-paginator>
        </mat-tab>
        <mat-tab label="Completed">
            <table mat-table [dataSource]="CompletedDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">{{element.title}}</td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>
                <ng-container matColumnDef="assignedby">
                    <th mat-header-cell *matHeaderCellDef>Assigned By</th>
                    <td mat-cell *matCellDef="let element">{{element.assignedby}}</td>
                </ng-container>
                <ng-container matColumnDef="duedate">
                    <th mat-header-cell *matHeaderCellDef>Due Date</th>
                    <td mat-cell *matCellDef="let element">{{element.duedate | date: 'dd-MM-yyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{element.status}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="primary" (click)="updatefunc(element)">
                            Edit
                        </button>
                        <button mat-button color="warn" (click)="deletefunc(element.id)">
                            Delete
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row;columns: displayColumns"
                    [ngClass]="{'highlight': assigneeFilter &&  row.assignedby.toLowerCase().includes(assigneeFilter.toLowerCase())}"
                    #taskRow></tr>
            </table>
            <mat-paginator #cpaginator [pageSizeOptions]="[2,4,6,10]" showFirstLastButtons></mat-paginator>
        </mat-tab>
    </mat-tab-group>
</div>
