<div style="padding: 20px;">
  <h2 style="font-size: xx-large; font-weight: 900; color: slategray; text-align: center;" mat-didalog-title>Add Meal Event</h2>
  <mat-dialog-content [formGroup]="eventForm">
    <div style="display: flex; flex-direction: column;">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Event Title</mat-label>
        <input matInput placeholder="Egg Muffins" formControlName="title">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Event Description</mat-label>
        <input matInput placeholder="Mini baked omelets with spinach and cheese." formControlName="description">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Event Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Event Time</mat-label>
        <input matInput placeholder="9:00 AM" formControlName="time">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Add</button>
  </mat-dialog-actions>

</div>
