/* Hover effects */
.add-event-btn:hover {
  background: #019374;
}

.nav-btn:hover {
  background: #b2bec3;
}

.toggle-view-btn:hover {
  background: #0765b3;
}

.date-card:hover {
  transform: scale(1.02);
  background: #f9f9f9;
}

/* ngClass styles */
.month-view-card-height {
  min-height: 120px;
}

.week-view-card-height {
  min-height: 500px;
}

.today {
  border: 2px solid #0984e3;
}

.previous-month,
.next-month {
  color: #b2bec3;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.month-event {
  background: #74b9ff;
}

.week-event {
  background: #55efc4;
}
